<mat-sidenav-container autosize>
    <mat-sidenav *ngIf="isLoggedIn" [opened]="true" mode="side" class="sidenav-color">
        <mat-nav-list>
            <a mat-list-item *ngIf="isLoggedIn" (click)="this.toggleSidenav()" class="menu-btn">
                <span class="entry">
                    <mat-icon *ngIf="isSidenavCollapsed">menu</mat-icon>
                    <mat-icon *ngIf="!isSidenavCollapsed">menu_open</mat-icon>
                    <span *ngIf="!isSidenavCollapsed">Menu</span>
                </span>
            </a>

            <a mat-list-item routerLink="/projects">
                <span class="entry" routerLinkActive="active-entry">
                    <mat-icon>inventory</mat-icon>
                    <span *ngIf="!isSidenavCollapsed">Projects</span>
                </span>
            </a>

            <a mat-list-item routerLink="/dashboard">
                <span class="entry" routerLinkActive="active-entry">
                    <mat-icon>dashboard</mat-icon>
                    <span *ngIf="!isSidenavCollapsed">Dashboard</span>
                </span>
            </a>

            <a mat-list-item routerLink="/backlog">
                <span class="entry" routerLinkActive="active-entry">
                    <mat-icon>splitscreen</mat-icon>
                    <span *ngIf="!isSidenavCollapsed">Backlog</span>
                </span>
            </a>

            <a mat-list-item routerLink="/sprint">
                <span class="entry" routerLinkActive="active-entry">
                    <mat-icon>lists</mat-icon>
                    <span *ngIf="!isSidenavCollapsed">Sprint</span>
                </span>
            </a>

            <a mat-list-item routerLink="/calendar">
                <span class="entry" routerLinkActive="active-entry">
                    <mat-icon>calendar_month</mat-icon>
                    <span *ngIf="!isSidenavCollapsed">Calendar</span>
                </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content-alignment">
            <div class="toolbar">
                <mat-toolbar>
                    <div class="logo">
                        <a routerLink="/landing"><img src="" alt="Logo"></a>
                        <h4><a routerLink="/landing">SprintHive</a></h4>
                    </div>
        
                    <div class="not-logged-in-actions" *ngIf="!isLoggedIn">
                        <a class="margin-right-32">Discover</a>
                        <a routerLink="/login" class="margin-right-120">Join</a>
                    </div>
                    
                    <div class="logged-in-actions" *ngIf="isLoggedIn">
                        <button mat-icon-button [routerLink]="['/user',1]">
                            <mat-icon>person</mat-icon>
                        </button>
                        <button mat-icon-button (click)="this.logout()">
                            <mat-icon>logout</mat-icon>
                        </button>
                    </div>
                </mat-toolbar>
            </div>
            
            <div class="wrapper-div">
                <app-wrapper class="wrapper"></app-wrapper>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>