mat-toolbar {
    width: 100%;
    position: sticky;
    padding-block-start: 1.33em;
    padding-block-end: 1.33em;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    float: right;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: clamp(12px, 2vw, 18px);
}

.logo {
    display: flex;
    float: left;
    padding-inline-start: 36px;
}

.logo a{
    text-decoration: none;
    color: black;
}

.logo h4{
    margin: 0;
}

.logo img {
    margin: 0;
}

.margin-right-120{
    margin-right: 120px;
}

.margin-right-32{
    margin-right: 32px;
}

.menu-btn{
    margin-left: 12px;
}

mat-toolbar{
    position: fixed;
    top: 0;
    z-index: 2;
}

mat-sidenav-container {
    height:100%;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.5rem;
    }
  }

  mat-sidenav-content{
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
}

.example-spacer {
    flex: 1 1 auto;
}