<div class="main-div">
    <div class="title">
        <h2>Create Issue</h2>
    </div>
    
    <div class="form">
        <form (ngSubmit)="onSubmit()">
            <mat-form-field hideRequiredMarker>
                <input matInput type="text" placeholder="Title" name="name" [(ngModel)]="newTask.name" required>
                <mat-label>Title</mat-label>
            </mat-form-field>
        
            <mat-form-field hideRequiredMarker>
                <input matInput type="text" placeholder="Description" name="description" [(ngModel)]="newTask.description" required>
                <mat-label>Description</mat-label>
            </mat-form-field>
            
            <div class="two-col-alignment">
                <mat-form-field hideRequiredMarker>
                    <input matInput type="number" placeholder="Story Points" name="storyPoints" [(ngModel)]="newTask.storyPoints" required>
                    <mat-label>Story Points</mat-label>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Assignee</mat-label>
                    <mat-select *ngIf="(usersLoaded | async)" [formControl]="assigneeControl">
                        <mat-option *ngFor="let assignee of users; trackBy: trackByFn" [value]="assignee" name="assignee">{{ assignee.firstName }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        
            <mat-form-field hideRequiredMarker>
                <input matInput type="datetime-local" placeholder="Due Date" name="dueDate" [(ngModel)]="newTask.dueDate" required>
                <mat-label>Due date</mat-label>
            </mat-form-field>
            
            <div class="two-col-alignment">
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select [formControl]="typesControl">
                        <mat-option *ngFor="let type of taskTypes" [value]="type" [(ngModel)]="newTask.type" name="type">{{ type }}</mat-option>
                    </mat-select>
                </mat-form-field>
            
                <mat-form-field>
                    <mat-label>Priority</mat-label>
                    <mat-select [formControl]="priorityControl">
                        <mat-option *ngFor="let priority of priorityTypes" [value]="priority" [(ngModel)]="newTask.priority" name="priority">{{ priority }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="actions">
                <div>
                    <button mat-button>Clear</button>
                </div>
                <div>
                    <button mat-raised-button color="primary" type="submit">Create</button>
                </div>
            </div>
        </form>
    </div>   
</div>
