<div class="main-div">
    <div class="title">
        <h2>Create Issue</h2>
    </div>
    
    <div class="form">
        <form [formGroup]="taskCreationForm" (ngSubmit)="onSubmit()" #myForm="ngForm">
            <mat-form-field class="single-form-field">
                <mat-label for="name">Title</mat-label>
                <input matInput type="text" placeholder="Title" formControlName="name">
                <mat-error *ngIf="name && name.touched && name.hasError('required')">Please enter a title.</mat-error>
                <mat-error *ngIf="name && name.touched && name.hasError('nameMinimumLength')">
                  Title must be at least 2 characters long.
                </mat-error>
            </mat-form-field>
        
            <mat-form-field class="single-form-field">
                <mat-label>Description</mat-label>
                <input matInput type="text" placeholder="Description" formControlName="description">
                <mat-error>Please enter a description.</mat-error>
            </mat-form-field>
        
             <mat-form-field class="single-form-field">
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="picker" [min]="today" placeholder="Choose a date" formControlName="dueDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Please enter a date.</mat-error>
            </mat-form-field>
            
            <div class="multiple-col-alignment">
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let type of taskTypes" [value]="type.index">{{ type.value }}</mat-option>
                    </mat-select>
                    <mat-error>Please select a type.</mat-error>
                </mat-form-field>
            
                <mat-form-field>
                    <mat-label>Priority</mat-label>
                    <mat-select formControlName="priority">
                        <mat-option *ngFor="let priority of priorityTypes" [value]="priority.index">{{ priority.value }}</mat-option>
                    </mat-select>
                    <mat-error>Please select a priority.</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Story Points</mat-label>
                    <input matInput type="number" placeholder="Story Points" formControlName="storyPoints">
                    <mat-error *ngIf="storyPoints && storyPoints.touched">Please enter a number.</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Assignee</mat-label>
                    <mat-select formControlName="assignee">
                        <mat-option *ngFor="let assignee of users; trackBy: trackByFn" [value]="assignee">{{ assignee.firstName }} ({{assignee.username}})</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="actions">
                <div>
                    <button mat-button type="button" (click)="clearForm(myForm)">Clear</button>
                </div>
                <div>
                    <button mat-raised-button color="primary" type="submit">Create</button>
                </div>
            </div>
        </form>
    </div>   
</div>
