<div #detailsRoot
    class="main-div" 
    style="--left: {{left}}px; 
        --right: {{right}}px;
        --top: {{top}}px;
        --width: {{width}}px;
        --height: {{height}}px;
        --margin: {{margin}}px;
        --padding: {{padding}}px;"
    >
    <div class="header">
        <h4>Edit Event</h4>
    </div>

    <div class="content">
        <div>
            <p>From:</p>
            <input type="time" class="time-input" [(ngModel)]="this.hourFrom" value="{{hourFrom}}" />
        </div>
        <div>
            <p>To:</p>
            <input type="time" class="time-input" [(ngModel)]="this.hourTo" value="{{hourTo}}" />
        </div>
        <div>
            <p>Tasks:</p>
        </div>
    </div>

    <div class="actions">
        <button (click)="deleteEvent()" class="delete-button">Delete</button>
        <div class="close-save-buttons-div">
            <button (click)="closeComponent()" class="close-button">Close</button>
            <button (click)="save()" class="save-button">Save</button>
        </div>
    </div>
</div>

