<div #detailsRoot
    class="main-div" 
    style="--left: {{left}}px; 
        --right: {{right}}px;
        --top: {{top}}px;
        --width: {{width}}px;
        --height: {{height}}px;
        --margin: {{margin}}px;
        --padding: {{padding}}px;"
    >
    <div class="header">
        <h4>Edit Event</h4>
    </div>

    <form [formGroup]="timesForm" (ngSubmit)="save()">
        <div class="content">
            <div>
                <p>From:</p>
                <input type="time" class="time-input" value="{{hourFrom}}" formControlName="hourFromInput"/>
            </div>
            <div>
                <p>To:</p>
                <input type="time" class="time-input" value="{{hourTo}}" formControlName="hourToInput"/>
            </div>
            <div>
                <p>Tasks:</p>
            </div>
        </div>
    
        <div class="actions">
            <button type="button" (click)="deleteEvent()" class="delete-button">Delete</button>
            <div class="close-save-buttons-div">
                <button type="button" (click)="closeComponent()" class="close-button">Close</button>
                <button type="submit" class="save-button">Save</button>
            </div>
        </div>
    </form>
</div>

