.main-content {
  margin: 0; 
  padding: 0;
  font-family: 'Poppins-Medium'; 
  background-color: #F5FFFA;
  height: 100%;
  width: 100%;
}

.loading-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}