.event {
  position: absolute;
  resize: vertical;

  .event-preview {
    display: flex;
    width: 100%;
    height: 100%;
    top: var(--top);
    bottom: var(--bottom);
    inset-inline: var(--inset-inline);

    .event-button {
      background-color: #68d8c9;
      padding: 3px;
      border-width: 0px 0px 0px 3px;
      border-color: #45968b;
      border-left-style: solid;
      display: flex;
      flex-direction: column;
      justify-items: start;
      width: 100%;
      height: 100%;
      border-radius: 6px;

      .event-button-title {
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
        margin: 0 0 0 4px;
      }

      .event-button-subtitle {
        font-size: 10px;
        color: #ffffff;
        margin: 0 0 0 4px;
      }
    }
  }
}
