<div class="title">
    <h2 mat-dialog-title>Create Project</h2>
</div>
<form [formGroup]="createProjectForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" formControlName="projectName" cdkFocusInitial >
            <mat-error>Project name should be atleast 2 characters long.</mat-error>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput type="text" placeholder="Description" formControlName="description">
            <mat-error>Please enter a description.</mat-error>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Due Date</mat-label>
            <input matInput [matDatepicker]="picker" [min]="today" placeholder="Choose a date" formControlName="dueDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Please enter a valid date.</mat-error>
        </mat-form-field>
    
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close (click)="onNoClick()">Close</button>
        <button mat-raised-button color="accent" type="submit">Create</button>
    </mat-dialog-actions>
</form>