.main-div{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.main-components-alignment {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-block: 12px;
    gap: 12px;
}

.presentation-div{
    clear: both;
    width: 50%;
    padding-inline-start: 3em;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    h2{
        font-size: 36px;
        margin: 0 0 0 0;
    }

    p{
        font-size: 18px;
        margin: 6px 0 0 0;
    }
}

.card-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.name-input-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 16px;
    width: 100%;
}

.content-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 6px;
}

mat-card{
    width: 40svw;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    mat-card-title{
        h2{
            font-size: 32px;
            margin: 32px 0 32px 0;
        }
    }

    mat-card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding-inline: 36px;
        padding-block: 12px;
    
        form{
            height: 100%;
            width: 100%;

            mat-form-field{
                width: 100%;
                height: fit-content;
            }

            button{
                width: 100%;
            }
        }
    }

    mat-card-actions{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin-top: 12px;
        padding-bottom: 32px;
        padding-inline: 42px;
    }

    a{
        color: black;
        padding-top: 12px;
    }
}

.actions-div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 12px;
}

.separation-line {
    width: 100%;
    height: 0.5px;
    background-color: #82928c;
    border: none;
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    gap: 6px;
}

.separator-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p {
        margin: 0 0 0 0;
        padding-inline: 18px;
        font-weight: 600;
    }
}

.single-form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.single-form-field:has(mat-error) {
    mat-form-field{
        padding-bottom: 6px;
    }
}

.name-input-div:has(mat-error){
    padding-bottom: 6px !important;
}

.submit-button {
    width: 100%;
}