<p class="project-name">ProjectName</p>

<div class="title-div">
    <h2>Login API Integration</h2>
    <p class="sprint-name"> - SprintName</p>
    <span class="spacer"></span>
    <button mat-icon-button>
        <mat-icon>edit</mat-icon>
    </button>
</div>

<div class="page-alignment">
    <div class="task-info">
        <div class="info-divider">
            <h4>Description</h4>
            <mat-divider></mat-divider>
        </div>
        <p class="description">
            Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. Veniam doloremque 
            earum cum nisi deleniti facere cumque doloribus, 
            numquam eligendi, voluptas quis, voluptates tenetur 
            impedit assumenda eaque ea eos itaque. Error!
        </p>
        
        <div class="info-divider">
            <h4>Key Tasks</h4>
            <mat-divider></mat-divider>
        </div>
        <div class="subtasks">
            <mat-checkbox class="custom-checkbox">Subtask name 1</mat-checkbox>
            <mat-checkbox class="custom-checkbox">Subtask name 2</mat-checkbox>
        </div>
    </div>
    
    <mat-divider vertical class="vertical-divider"></mat-divider>
    
    <div class="task-properties">
        <div class="info-divider">
            <button (click)="this.toggleDetails()">></button>
            <h4>Details</h4>
            <mat-divider></mat-divider>
        </div>
        <div *ngIf="showDetails" class="properties-alignment">
            <div class="properties-names">
                <p>Priority:</p>
                <p>Type:</p>
                <p>Labels:</p>
                <br>
                <p>Status:</p>
                <p>Story Points:</p>
            </div>
            <div class="properties-values">
                <div class="priority-property">
                    <mat-icon>home</mat-icon>
                    <p>PriorityType</p>
                </div>
                <p>TaskType</p>
                <p>Label1</p>
                <p>Label2</p>
                <p>TaskStatus</p>
                <p>StoryPoints</p>
            </div>
        </div>
    
        <div class="info-divider">
            <button (click)="this.togglePeople()">></button>
            <h4>People</h4>
            <mat-divider></mat-divider>
        </div>
        <div *ngIf="showPeople" class="properties-alignment">
            <div class="properties-names">
                <p>Assignees:</p>
                <p>Author:</p>
            </div>
            <div class="properties-values">
                <p>AssigneeName</p>
                <p>AuthorName</p>
            </div>
        </div>
    
        <div class="info-divider">
            <button (click)="this.toggleDates()">></button>
            <h4>Dates</h4>
            <mat-divider></mat-divider>
        </div>
        <div *ngIf="showDates" class="properties-alignment">
            <div class="properties-names">
                <p>Due:</p>
                <p>Created:</p>
            </div>
            <div class="properties-values">
                <p>DueDate</p>
                <p>CreatedDate</p>
            </div>
        </div>
    </div>
</div>