<div class="container">
    <div class="row">
        <div class="landing-div">
            <h2>Improve your teamwork</h2>
            <p>Agile project management for streamlined collaboration.</p>
            <button mat-raised-button type="button" color="accent" (click)="this.navigateToRegister()">Join now</button>
        </div>
    </div>

    <div class="row">
        <div class="left-div">
            <h3>Enhanced Team Collaboration</h3>
            <p>SprintHive fosters seamless communication and collaboration among team members, 
                ensuring everyone stays aligned with project goals and tasks. Features such as real-time updates, shared boards, 
                and integrated messaging help team members work together efficiently, reducing misunderstandings and increasing productivity.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="right-div">
            <h3>Streamlined Agile Processes</h3>
            <p>SprintHive is tailored to support agile methodologies like Scrum and Kanban, providing tools for sprint planning, 
                backlog management, and task tracking. This streamlines the agile processes, making it easier for teams to plan, 
                execute, and review their work, ultimately leading to faster delivery of high-quality products.</p>
        </div>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>

    <footer>
        <div class="left-footer-div">
            <a href="#">Contact</a>
            <a href="#">About</a>
        </div>
        <div class="right-footer-div">
            <a href="#">Terms of service</a>
            <a href="#">Privacy policy</a>
        </div>
    </footer>
</div>