<div class="container">
    <div class="row">
        <div class="landing-div">
            <h2>Improve your teamwork</h2>
            <p>Agile project management for streamlined collaboration.</p>
            <button type="button">Join now</button>
        </div>
    </div>

    <div class="row">
        <div class="left-div">
            <h3>Benefit 1</h3>
            <p>Benefit 1 description</p>
        </div>
    </div>
    
    <div class="row">
        <div class="right-div">
            <p>Benefit 2</p>
            <p>Benefit 2 description</p>
        </div>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>

    <footer>
        <div>
            <a href="#">Contact</a>
            <a href="#">About</a>
        </div>
        <div>
            <a href="#">Terms of service</a>
            <a href="#">Privacy policy</a>
        </div>
    </footer>
</div>