
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$presentation-primary: mat.define-palette(mat.$indigo-palette);
$presentation-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$presentation-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('/assets/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('/assets/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-Black';
  src: url('/assets/fonts/Poppins/Poppins-Black.ttf');
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('/assets/fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('/assets/fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('/assets/fonts/Poppins/Poppins-Light.ttf');
}

$my-custom-level: mat.define-typography-level(
  $font-family: "'Poppins', 'sans-serif'",
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$regular-font-family: "'Poppins', 'sans-serif'";

$my-custom-typography-config: mat.define-typography-config(
  $font-family: $regular-font-family,
  $headline-1: mat.define-typography-level($font-family: $regular-font-family, $font-size: 112px),
  $headline-2: mat.define-typography-level($font-family: $regular-font-family, $font-size: 56px),
  $headline-3: mat.define-typography-level($font-family: $regular-font-family, $font-size: 45px, $line-height: 48px),
  $headline-4: mat.define-typography-level($font-family: $regular-font-family, $font-size: 34px, $line-height: 40px),
  $headline-5: mat.define-typography-level($font-family: $regular-font-family, $font-size: 24px, $line-height: 32px),
  $headline-6: mat.define-typography-level($font-family: $regular-font-family, $font-size: 20px, $line-height: 32px),
  $subtitle-1: mat.define-typography-level($font-family: $regular-font-family, $font-size: 18px, $line-height: 28px),
  $subtitle-2: mat.define-typography-level($font-family: $regular-font-family, $font-size: 18px, $line-height: 24px),
  $body-2: mat.define-typography-level($font-size: 16px),
  $body-1: mat.define-typography-level($font-size: 16px),
  $button: mat.define-typography-level($font-size: 16px),
);

$presentation-theme: mat.define-light-theme((
  color: (
    primary: $presentation-primary,
    accent: $presentation-accent,
    warn: $presentation-warn,
  ),
  typography: $my-custom-typography-config,
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($presentation-theme);

/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
  width: 100%;
  max-width: 100%; 
}

body { 
  margin: 0; 
  font-family: 'Poppins-Medium'; 
  background-color: #F5FFFA;
}

.active-entry{
  color: #2b9ca4 !important;
}

.dropDown-seasons-panel {
  border-radius: 10px !important;
  border: 1px solid gray !important;
  position: absolute !important;
  top: 2px !important;
}

.mat-mdc-select-arrow-wrapper {
  margin-inline-end: 6px !important;
}

.mat-mdc-select-value{
  padding-inline-start: 6px !important;
}

.mdc-checkbox__background {
  border: 1.5px solid #000000 !important;
  border-radius: 5px !important;
}

.mdc-text-field__input::-webkit-calendar-picker-indicator {
  display: block !important;
}