<div class="main-div">
  <div class="info-alignment">
    <h3>{{ this.currentUTCMonthName }}</h3>
    <p>{{ this.currentUTCYear }}</p>

    <span class="spacer"></span>
    <div class="day-week-month">
      <div
        (click)="onDayClicked()"
        class="{{ this.selectedCalendarType === 'day' ? 'selected-div' : '' }}"
      >
        <p>Day</p>
      </div>

      <mat-divider
        class="{{
          this.selectedCalendarType === 'month'
            ? 'show-divider'
            : 'hide-divider'
        }}"
        vertical
      ></mat-divider>
      <div
        (click)="onWeekClicked()"
        class="{{ this.selectedCalendarType === 'week' ? 'selected-div' : '' }}"
      >
        <p>Week</p>
      </div>

      <mat-divider
        class="{{
          this.selectedCalendarType === 'day' ? 'show-divider' : 'hide-divider'
        }}"
        vertical
      ></mat-divider>
      <div
        (click)="onMonthClicked()"
        class="{{
          this.selectedCalendarType === 'month' ? 'selected-div' : ''
        }}"
      >
        <p>Month</p>
      </div>
    </div>
    <span class="spacer"></span>

    <button><</button>
    <button>Today</button>
    <button>></button>
  </div>

  <div class="calendar-display">
    <div *ngIf="this.selectedCalendarType === 'week'" class="week-calendar">
      <div class="week-names-alignment">
        <div class="blank-space"></div>
        <div class="week-alignment">
          <div class="week">
            @for (day of daysInSelectedWeek; track $index) {
            <div
              class="{{
                this.currentUTCDay == day.date ? 'current-day' : ''
              }} day"
            >
              <h4>{{ day.date }}</h4>
              <p>{{ day.name }}</p>
            </div>
            }
          </div>
        </div>
      </div>

      <div class="divider"><mat-divider></mat-divider></div>

      <div class="calendar">
        <div class="calendar-alignment">
          <div class="hours-size">
            <div class="hours">
              <div *ngFor="let hour of hours; let i = index" class="row{{i}}">
                <div class="hour">
                  <ng-container *ngIf="i === 0; else nonZeroHour"></ng-container>
                  <ng-template #nonZeroHour>
                    {{ i < 10 ? '0' + i : i }}
                  </ng-template>
                </div>
              </div>
              <!-- <div class="row0">
                <div class="hour"></div>
              </div>
              <div class="row1">
                <div class="hour">01</div>
              </div>
              <div class="row2">
                <div class="hour">02</div>
              </div>
              <div class="row3">
                <div class="hour">03</div>
              </div>
              <div class="row4">
                <div class="hour">04</div>
              </div>
              <div class="row5">
                <div class="hour">05</div>
              </div>
              <div class="row6">
                <div class="hour">06</div>
              </div>
              <div class="row7">
                <div class="hour">07</div>
              </div>
              <div class="row8">
                <div class="hour">08</div>
              </div>
              <div class="row9">
                <div class="hour">09</div>
              </div>
              <div class="row10">
                <div class="hour">10</div>
              </div>
              <div class="row11">
                <div class="hour">11</div>
              </div>
              <div class="row12">
                <div class="hour">12</div>
              </div>
              <div class="row13">
                <div class="hour">13</div>
              </div>
              <div class="row14">
                <div class="hour">14</div>
              </div>
              <div class="row15">
                <div class="hour">15</div>
              </div>
              <div class="row16">
                <div class="hour">16</div>
              </div>
              <div class="row17">
                <div class="hour">17</div>
              </div>
              <div class="row18">
                <div class="hour">18</div>
              </div>
              <div class="row19">
                <div class="hour">19</div>
              </div>
              <div class="row20">
                <div class="hour">20</div>
              </div>
              <div class="row21">
                <div class="hour">21</div>
              </div>
              <div class="row22">
                <div class="hour">22</div>
              </div>
              <div class="row23">
                <div class="hour">23</div>
              </div> -->
              @for (hour of hours; track $index) {
              <div class="blank-row{{$index}}"></div>  
              }
            </div>
          </div>

          <div class="calendar-background-alignment">
            <div class="calendar-background">
              <div class="columns">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
              </div>

              <div class="row-lines">
                @for (hour of hours; track $index) {
                <div
                  class="row-line"
                  style="--top: {{ (100 / hours.length) * $index }}%"
                ></div>
                }
              </div>
            </div>

            <div
              class="calendar-events"
              #events
              tabindex="0"
              (mousedown)="createEventDiv($event)"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
