<div class="main-div">
  <div class="info-alignment">
    <div class="date">
      <h3>{{ this.selectedMonthName }}</h3>
      <p>{{ this.selectedYear }}</p>
    </div>

    <div class="day-week-month">
      <div
        (click)="onDayClicked()"
        class="{{ this.selectedCalendarType === 'day' ? 'selected-div' : '' }}"
      >
        <p>Day</p>
      </div>

      <mat-divider
        class="{{
          this.selectedCalendarType === 'month'
            ? 'show-divider'
            : 'hide-divider'
        }}"
        vertical
      ></mat-divider>
      <div
        (click)="onWeekClicked()"
        class="{{ this.selectedCalendarType === 'week' ? 'selected-div' : '' }}"
      >
        <p>Week</p>
      </div>

      <mat-divider
        class="{{
          this.selectedCalendarType === 'day' ? 'show-divider' : 'hide-divider'
        }}"
        vertical
      ></mat-divider>
      <div
        (click)="onMonthClicked()"
        class="{{
          this.selectedCalendarType === 'month' ? 'selected-div' : ''
        }}"
      >
        <p>Month</p>
      </div>
    </div>

    <div class="date-select-buttons">
      <button class="arrow-button" (click)="onPreviousClicked()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button class="today-button" (click)="onTodayClicked()">Today</button>
      <button class="arrow-button" (click)="onNextClicked()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>

  <div class="calendar-display">
    <div *ngIf="this.selectedCalendarType === 'day'" class="day-calendar">

    </div>

    <div *ngIf="this.selectedCalendarType === 'week'" class="week-calendar">
      <div class="week-names-alignment">
        <div class="blank-space"></div>
        <div class="week-alignment">
          <div class="week">
            @for (day of daysInSelectedWeek; track $index) {
            <div
              class="{{
                (this.currentUTCDay == day.date) && 
                (this.selectedMonth == this.currentUTCMonth) &&
                (this.selectedYear == this.currentUTCYear) ? 'current-day' : ''
              }} day"
            >
              <h4>{{ day.date }}</h4>
              <p>{{ day.name }}</p>
            </div>
            }
          </div>
        </div>
      </div>

      <div class="divider"><mat-divider></mat-divider></div>

      <div class="calendar" #calendar>
        <div class="calendar-alignment">
          <div class="hours-size">
            <div class="hours">
              <div *ngFor="let hour of hours; let i = index" class="row{{ i }}">
                <div class="hour">
                  <ng-container
                    *ngIf="i === 0; else nonZeroHour"
                  ></ng-container>
                  <ng-template #nonZeroHour>
                    {{ i < 10 ? "0" + i : i }}
                  </ng-template>
                </div>
              </div>
              @for (hour of hours; track $index) {
              <div class="blank-row{{ $index }}"></div>
              }
            </div>
          </div>

          <div class="calendar-background-alignment">
            <div class="calendar-background">
              <div class="columns">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
              </div>

              <div class="row-lines">
                @for (hour of hours; track $index) {
                <div
                  class="row-line"
                  style="--top: {{ (100 / hours.length) * $index }}%"
                ></div>
                }
              </div>
            </div>

            <div
              class="calendar-events"
              #events
              tabindex="0"
              (mousedown)="onCalendarEventClick($event)"
            >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="this.selectedCalendarType === 'month'" class="month-calendar">

    </div>
  </div>

  <div appDynamicHost>

  </div>
</div>
