
<div class="main-div">
    <div class="presentation-div">
        <h2>Dive into </h2>
        <h2 class="title-gradient"> Productivity!</h2>
    </div>
    
    <mat-card>
        <mat-card-title>
            <h2>Log In</h2>
        </mat-card-title>

        <mat-card-content>
            <div class="content-div">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-div">
                        <mat-form-field>
                            <mat-label for="email">Email</mat-label>
        
                            <input matInput type="email" formControlName="email">
        
                            <mat-error *ngIf="checkEmailInputErrors()">
                                Please enter a valid email address.
                            </mat-error>
                        </mat-form-field>
                    
                        <mat-form-field>
                            <mat-label for="password">Password</mat-label>
        
                            <input matInput [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password">
        
                            <mat-icon matSuffix *ngIf="!isPasswordVisible" (click)="togglePasswordVisibility()">visibility</mat-icon>
                            <mat-icon matSuffix *ngIf="isPasswordVisible" (click)="togglePasswordVisibility()">visibility_off</mat-icon>
        
                            <mat-error *ngIf="checkPasswordInputErrors()" matTooltip="{{passwordRequirements}}" matTooltipClass="tooltip">
                                Please enter a valid password.
                            </mat-error>
                        </mat-form-field>
        
                        <button mat-raised-button color="accent" type="submit">
                            Log In
                        </button>
                    </div>
                </form>
            </div>
        </mat-card-content>
        
        <mat-card-actions>
            <div class="separator-div">
                <hr class="separation-line">
                <p>Or</p>
                <hr class="separation-line">
            </div>

            <a routerLink="/register">Sign up</a>
        </mat-card-actions>
    </mat-card>    
</div>

